/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-primary: #5721f2;
  --color-on-surface: #000;
  --color-primary-gray: #f5f5f5;
  --color-primary-blue: #3179cc;
  --color-primary-orange: #ff4500;
  --color-secondary-black: #000;
  --color-secondary-white: #fff;
  --color-secondary-gray-submenu: #a8a8a8;
}
